# Игнорировать системные файлы и папки PyCharm (ОБЯЗАТЕЛЬНО)
.idea/

# Игнорировать виртуальные окружения Python
*venv**/
env/

# Игнорировать кэш и временные файлы Python
__pycache__/
*.pyc
*.pyo

# Игнорировать файлы логов (если есть)
*.log

# Игнорировать файлы данных или секретов (если есть)
*.env